# IDE folders
.vs/
.vscode/

# build section
build/
build.bat
__tests__/

# future section
glib/
gnet/
gstack/
gvec/
gmemory/

# some other files/extensions...
*.png

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app