# IDE folders
.vs/
.vscode/

# build section
build/
build.bat

# future section
graph/lib/
graph/network/
graph/stack/
graph/vec/
graph/memory/

# some other files/extensions...
*.png
__tests__/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app